In [2]:
import pandas as pd
import os
import csv
import numpy as np

In [3]:
## read list dataset in directory data
os.listdir("../data")

['business.csv', 'tweet.csv', 'user.csv']

In [4]:
## read dataset
missing_values = ["NaN","Null",np.nan]
users = pd.read_csv("../data/user.csv", na_values = missing_values)
tweet = pd.read_csv("../data/tweet.csv", na_values = missing_values)

In [5]:
users

,id,media_source,username
0,1468370675429780000,Twitter for Android,humorist
1,1468370644089780000,Twitter for iPhone,Tuan Junaidah
2,1468370295836730000,Twitter for Android,ì¹´ì´ë¼ðŸŒ™
3,1468370288878350000,Twitter for Android,Connieharr
4,1468369936498130000,Twitter for Android,naughtynaqiðŸ˜œ
...,...,...,...
28542,1468358590775770000,Twitter for Android,leto
28543,1468358582844280000,Twitter for iPhone,yoongijah ðŸ‡µðŸ‡¸
28544,1468358454247320000,twittbot.net,Saatnya Jadi Pengusaha di Era Digital
28545,1468358193931630000,dlvr.it,IDN Times
28546,1468358094832880000,Twitter for Android,á—°á–‡. á‘­á—©á‘•á•¼á—©Ká‘Œ

In [23]:
user.isnull().sum()

id              0
media_source    0
username        0
dtype: int64

In [6]:
tweet

,id,create_at,text_sent,retweet_count,favorite_count,sentiment_score
0,1468370675429780000,2021-12-08 00:03:44+00:00,@mzeniith nunya business,0,0,0
1,1468370644089780000,2021-12-08 00:03:37+00:00,@syazmnajib: masalah melayu. semua kejayaan or...,585,0,1
2,1468370295836730000,2021-12-08 00:02:14+00:00,"@nabellaanuar: terbaca posting en khairul, â€œ...",20,0,0
3,1468370288878350000,2021-12-08 00:02:12+00:00,@nathaliamwt hampir 8th sy jatim (mlg - sby) s...,0,0,0
4,1468369936498130000,2021-12-08 00:00:48+00:00,@wolfipali: antara point paling aku ingat samp...,8,0,0
...,...,...,...,...,...,...
28542,1468358590775770000,2021-12-07 23:15:43+00:00,"@nabellaanuar: terbaca posting en khairul, â€œ...",20,0,0
28543,1468358582844280000,2021-12-07 23:15:41+00:00,"@nabellaanuar: terbaca posting en khairul, â€œ...",20,0,0
28544,1468358454247320000,2021-12-07 23:15:10+00:00,inilah peluang bisnis terbaik jaman s://t.co/9...,0,0,0
28545,1468358193931630000,2021-12-07 23:14:08+00:00,bisnis ini bisa disesuaikan dengan modal yang ...,0,0,0
28546,1468358094832880000,2021-12-07 23:13:45+00:00,@syazmnajib: masalah melayu. semua kejayaan or...,593,0,1

In [25]:
tweet.isnull().sum()

id                 0
create_at          0
tex_sent           0
retweet_count      0
favorite_count     0
sentiment_score    0
dtype: int64

In [26]:
tweet = tweet.drop(['favorite_count'], axis=1)

In [42]:
tweet.head(2)

,id,create_at,tex_sent,retweet_count,sentiment_score
0,1468370675429780000,2021-12-08 00:03:44+00:00,@mzeniith nunya business,0,0
1,1468370644089780000,2021-12-08 00:03:37+00:00,@syazmnajib: masalah melayu. semua kejayaan or...,585,1

In [49]:
business = users.merge(tweet, on='id', how='inner')
business= business.drop_duplicates(subset=['username','id'])
business.isnull().sum()

id                 0
media_source       0
username           0
create_at          0
text_sent          0
retweet_count      0
favorite_count     0
sentiment_score    0
dtype: int64

In [50]:
business

,id,media_source,username,create_at,text_sent,retweet_count,favorite_count,sentiment_score
0,1468370675429780000,Twitter for Android,humorist,2021-12-08 00:03:44+00:00,@mzeniith nunya business,0,0,0
81796,1468370644089780000,Twitter for iPhone,Tuan Junaidah,2021-12-08 00:03:37+00:00,@syazmnajib: masalah melayu. semua kejayaan or...,585,0,1
163592,1468370295836730000,Twitter for Android,ì¹´ì´ë¼ðŸŒ™,2021-12-08 00:02:14+00:00,"@nabellaanuar: terbaca posting en khairul, â€œ...",20,0,0
245388,1468370288878350000,Twitter for Android,Connieharr,2021-12-08 00:02:12+00:00,@nathaliamwt hampir 8th sy jatim (mlg - sby) s...,0,0,0
327184,1468369936498130000,Twitter for Android,naughtynaqiðŸ˜œ,2021-12-08 00:00:48+00:00,@wolfipali: antara point paling aku ingat samp...,8,0,0
...,...,...,...,...,...,...,...,...
7661599,1468371510079410000,MarketsCafe,Marketâ€™s Cafe,2021-12-08 00:07:03+00:00,"punjab: kejriwal woos sc community, promises k...",0,0,1
7693999,1468373767285920000,Twitter for iPhone,Ritu Rai Sharma,2021-12-08 00:16:01+00:00,business today: yoga guru baba ramdev patanjal...,0,0,0
7713599,1468373836676480000,Twitter for Android,Fazidahh,2021-12-08 00:16:18+00:00,@syazatico: happy sangat dapat parents yang su...,7,0,1
7729728,1468374013080700000,Twitter Web App,Riccardo Cantori,2021-12-08 00:17:00+00:00,@aggroed001 @business bacini,0,0,0
7733697,1468374454455520000,Twitter for iPhone,Afiq,2021-12-08 00:18:45+00:00,@syazmnajib: masalah melayu. semua kejayaan or...,593,0,1

In [11]:
business.to_csv(r'../data/business.csv', index = False)